<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    <title>Onlayn Lug'at | Tarjimon</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      h1, h2, h3, h4, h5, * {font-family: "Poppins", sans-serif;}
      p {font-weight: 500;}
    </style>
  </head>
  <body>
    <!-- Header -->
    <div class="ui header segment">
      <div class="ui container">
        <h1 class="ui header">Onlayn Lug'at</h1>
        <div class="ui divider"></div>
        <p>Tezlik, qulaylik, bepul tarjimon</p>
      </div>
    </div>
    <!-- /Header -->

    <!-- Container -->
    <div class="ui container">
      <div class="ui placeholder segment">
        <div class="ui icon header">
          Inglizcha-O'zbekcha, O'zbekcha-Inglizcha
        </div>

        <!-- Qidiruv -->
        <div class="inline" style="width: 90%">
          <div class="ui massive form search">
            <form action="{% url 'index' %}" method="GET" class="ui icon input" style="width: 100%">
              <input type="text" name="s" value="{{ s }}" class="prompt" placeholder="So'zni kiriting ...">
              <i class="icon search link"></i>
            </form>
          </div>
        </div>
        <!-- /Qidiruv -->
      </div>

      <!-- Natija -->
      <div class="ui piled segment">
        <h4 class="ui header">Natija</h4>
        <table class="ui table celled olive larga">
          <thead>
            <tr>
              <th><i class="united kingdom flag"></i>Inglizcha</th>
              <th><i class="uzbekistan flag"></i>O'zbekcha</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Programmer</td>
              <td>Dasturchi</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /Natija -->

    </div>
    <!-- /Container -->
  </body>
</html>
